
<!DOCTYPE html>
<html>
  <head>
    <title>Help | Sample App</title>
  </head>
  <body>
    <h1>StaticPages#help</h1>
    <p><a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.</p>
  </body>
</html>
