
<div class="center jumbotron">
  <h1>Sample App</h1>

  <p>We're glad you could join us!</p>

  <%= link_to "Join", signup_path, class: "btn-lg btn-primary" %>
</div>

<%= link_to image_tag("secret_ingredient.png", alt: "Our secret ingredient"),
  'http://rubyonrails.org/' %>

