
<%= form_for(@micropost) do |form_builder| %>
  <%= render "shared/error_messages", object: form_builder.object %>
  <div class="field">
    <%= form_builder.text_area :content, placeholder: "New micropost..." %>
  </div>
  <%= form_builder.submit "Post", class: "btn btn-primary" %>
<% end %>
